# H1 : Data Science Tools and Ecosystem

# In this notebook,Data Science Tools and Ecosystem are summarized.

__Objectives__
- List popular languages for Data Science
- Tools for Data Science
- Libraries for Data Science
- Fundamentals of Data Science
- Languages of Data Science

1. Python
2. R
3. SQL
4. Scala

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit learn
5. Tensorflow

| Data Science Tools |
---------------------
| RStudio |
| Apache Spark |
| TensorFlow |

### H3 : Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
a=200
b=a/60
print(b)

3.3333333333333335

## H2 : Author
Ankith.